<!DOCTYPE html>
<html>
  <head>
    <title>mapmycruise by Suhan Wijaya</title>
    <%= csrf_meta_tags %>

    <%= favicon_link_tag 'favicon-fighter-jet.ico' %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

    <%= javascript_include_tag 'application' %>

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyBikueOt0xpkbFjWOncTXfVj5HEg_pu8f8&libraries=geometry,places" %>

    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow|Syncopate:700" rel="stylesheet">

    <script src="https://use.fontawesome.com/4f3c89db04.js"></script>

    <script src="https://js.pusher.com/4.1/pusher.min.js"></script>

    <script type="text/javascript">
      Pusher.logToConsole = true;
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
